<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Step 1</title>
  <link rel="stylesheet" href="css/style.min.css">

</head>

<body>
  <main class="main-contact qr-page">
    <div class="grid-position">
      <div class="grid-position--top">
        <div class="logo">
          <img src="img/logo.png" alt="">
        </div>
      </div>

      <div class="grid-position--bottom">
        <div class="btns center">
          <div id="qr_place"></div>

          <div class="texts-wrap">
            <p class="text small">
              Scan the code above using the camera or click the button below to begin the experience.
            </p>
            <p class="text small">
              Skannaa
              yllä oleva koodi kameralla tai aloita kokemus napsauttamalla alla olevaa painiketta.
            </p>
          </div>

          <a href="step_1.html" class="btn small">
            {{EN: START||FI: ALOITA}}
          </a>
        </div>
      </div>
    </div>
  </main>
</body>

</html>