<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Step 2</title>
  <link rel="stylesheet" href="css/style.min.css">

</head>

<body>
  <main class="main-contact bg-2 container step-2">
    <div class="grid-position">
      <div class="grid-position--top">
        <div class="logo">
          <img src="img/logo.png" alt="">
        </div>
        <div class="step">
          1
        </div>

        <p class="text padding-center">
          {{EN:How much of Capture Totale Super Potent Serum’s ingredients are of natural origin?||FI: Kuinka suuri osa
          Capture Totale Super Potent Serumin ainesosista on luonnollista alkuperää?}}
        </p>
      </div>

      <div class="grid-position--bottom">
        <form action="step_3.html" method="get">
          <input type="hidden" name="question"
            value="How much of Capture Totale Firming & Wrinkle-correcting Creme’s ingredients are of natural origin?">
          <div class="btns">
            <label class="btn">
              <input type="submit" name="answer" value="91%" hidden>

              {{EN: 91%||FI: 91%}}
            </label>

            <label class="btn">
              <input type="submit" name="answer" value="72%" hidden>

              {{EN: 72%||FI: 72%}}
            </label>

            <label class="btn">
              <input type="submit" name="answer" value="68%" hidden>

              {{EN: 68%||FI: 68%}}
            </label>

            <label class="btn">
              <input type="submit" name="answer" value="51%" hidden>

              {{EN: 51%||FI: 51%}}
            </label>
          </div>
        </form>
      </div>
    </div>
  </main>
</body>

</html>