<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Step 5</title>
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
  <main class="main-contact bg-3 step-5 container">
    <div class="grid-position">
      <div class="grid-position-top">
        <div class="logo">
          <img src="img/logo.png" alt="">
        </div>

        <div class="step">
          2
        </div>

        <p class="text">
          {{EN: What can Super Potent Serum bring to your skin IN 1 WEEK?||FI: Millaiseksi Super Potent Serum tekee
          ihostasi 1 VIIKON kuluessa?}}
        </p>
      </div>

      <div class="grid-position--bottom">
        <div class="interest text">
          {{EN: ALL OF THE ABOVE!||FI: KAIKKI EDELLÄ MAINITUT!}}
        </div>

        <p class="text small">
          {{EN: More radiant, plumper and firmer skin, for longer!||FI: Hehkuvamman, täyteläisemmän ja kiinteämmän -
          pidempään!}}
        </p>

        <div class="btns full">
          <a href="step_6.html" class="btn small-text">
            {{EN: NEXT||FI: SEURAAVA}}
          </a>
        </div>

        <div class="wrap-info">
          <p class="info text">
            {{EN: Clinical test, self assessment by scoring 33 women||FI: Kliininen testi, 33 naisen suorittama
            itsearviointi}}
          </p>
        </div>
      </div>
    </div>
  </main>
</body>

</html>