<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Step 3</title>
  <link rel="stylesheet" href="css/style.min.css">

</head>

<body>
  <main class="main-contact bg-2 step-3 container">
    <div class="grid-position">
      <div class="grid-position--top">
        <div class="logo">
          <img src="img/logo.png" alt="">
        </div>

        <div class="step">
          1
        </div>

        <p class="text">
          {{EN:How much of Capture Totale Super Potent Serum’s ingredients are of natural origin?||FI: Kuinka suuri osa
          Capture Totale Super Potent Serumin ainesosista on luonnollista alkuperää?}}
        </p>
      </div>


      <div class="grid-position--bottom">
        <div class="interest">
          {{EN: 91%||FI: 91%}}
        </div>

        <p class="text small">
          {{EN:Dior Science sources its ingredients from nature. 91% of the ingredients of Capture Totale Super Potent
          Serum are of natural origin. The remaining 9% have been carefully selected to optimize the formula’s
          effectiveness and stability.||FI: Dior Science ammentaa raaka-aineensa luonnosta. 91% Capture Totale Super
          Potent Serumin ainesosista on luonnollista alkuperää. Loput 9 % huolellisesti valikoiduista ainesosista
          tehostavat ja tasapainottavat seerumin koostumusta.}}
        </p>

        <div class="btns full">
          <a href="step_4.html" class="btn small-text">
            {{EN:NEXT||FI: SEURAAVA}}
          </a>
        </div>
      </div>
    </div>
  </main>
</body>

</html>